@use "../global/styles/_global";

.modal {
  width: 40%;
  height: 400px;
  border : 1px solid global.$modal-border;
  border-radius: 15px;
}

.modalHeader {
  @include global.flexWithArgs(flex-start, center);
  height: 70px;
  padding-left: 20px;
  border-bottom : 1px solid global.$modal-border;
}