.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}
 
.headerCustomClass {
  background:lightgoldenrodyellow;
}

.reactLogo {
  width: 50px;
  height: 50px;
}

.modalButton {
  width: 25%;
  margin-left: 10px;
}