.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}
 
.headerCustomClass {
  background:lightgoldenrodyellow;
}

.t {
  background-color: red;;
}